body{

font-family: 'Raleway', sans-serif; color: white;
background-color: black;
}

header{
display: block;
}

header h1{

    display: block;
    width: 100%;
    line-height: 73px;
    height: 73px;
    text-align: center;
    font-size: 3em;
    font-weight: 500px;
}

.iguanamadre{
    width: 100%;
}

.desc-section{
    height: 348px;
}

.texto-iguana{
    display: inline-block;
    padding-left: 14em;
    padding-top: 4.5em;
    width: 35%;
    margin-right: 1em;
    font-weight: 300px;
    line-height: 1.25em;
}

.iguana-1{
    float: right;
    height: 237px;
    width: 399px;
    padding-right: 14em;
    padding-top: 2.5em;
    margin-left: 1em;
}

.texto-1{
    margin-bottom: 1em;
    text-align: justify;
}

.texto-2{
    margin-top: 1em;
    text-align: justify;
}

.icons-section{
    background-color: #1E1A13 0% 0% no-repeat padding-box;
    text-align: center;
    height: 348px;
    /* width: 1280px; */
    opacity: 0.98;
    vertical-align: middle;
    /* padding: 50px; */
}

.icons-section h2{
    font: normal normal medium 40px/47px Raleway;
    padding-top: 2 em;
    padding-bottom: 1.5 em;
    font-size: 2.5 em;
    font-weight: 500px;
    color: #ffffff;
}

.icons-section .icons{
    display: inline-block;
}

.icons-section i{
    padding-bottom: 0.5em;
}

.icons-section p{
    font-weight: 300px;
    font-size: 1.5em;
}

section{
    height: 348px;
    line-height: 348px;
    text-align: center;
}

section .Iguanas{
    display: inline-block;
    margin: 0.5em;
    height: 202px;
    width: 316px;
    vertical-align: middle;
}

footer{
    display: block;
    background-color: #1E1A13;
    height: 102px;
    line-height: 102px;
}

footer p{
    text-align: center;
    font-size: 1.25em;
    font-weight: 300px;
}